.content {
    grid-area:main;
    display: grid;
    margin: 10px;
    grid-template-rows: 75px;
}

.image-container {
    width: 300px;
    height: 200px;
}

#author-label {
    color: black;
    font-weight: bold;
    padding: 5px;
    vertical-align: top;
}

#author-data {
    color: grey;
    padding: 5px;
    vertical-align: top;
}

#author-avatar {
    width: 25px;
    height: 25px;
}

#social-label {
    color: maroon;
    padding: 5px;
}

#author-title-data {
    color: grey;
    padding: 5px;
    vertical-align: top;
    font-style: italic;
}

#author-name-data {
    color: grey;
    padding: 5px;
    vertical-align: top;
    text-decoration: underline;
}