.footer {
    grid-area:ft;
    color: black;
    border: 2px solid;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}

@media(min-width:900px) {
    .footer {
        grid-area:ft;
        border: 5px solid;
        display:flex;
        align-items: center;
        flex-direction: column;
    }
    
}